.grid {
  display: grid;
  grid-template-columns: 26.25rem 26.25rem;
  row-gap: 2rem;

  border: 0;
}

.option {
  max-width: 26.25rem;
  height: 4.5rem;

  position: relative;
}

.option:hover :global(.risk),
.option.selected :global(.risk) {
  background-color: var(--orange-100);
}

.option:hover svg path,
.option.selected svg path {
  stroke: var(--orange-100);
}

.option.selected svg path {
  fill: var(--orange-5);
}

.option.selected.success :global(.risk) {
  background-color: var(--green-100);
}

.option.selected.success svg path {
  stroke: var(--green-100);
  fill: var(--green-5);
}

.option.selected.failure :global(.risk) {
  background-color: var(--red-100);
}

.option.selected.failure svg path {
  stroke: var(--red-100);
  fill: var(--red-5);
}

.input-group {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.input-group > input {
  position: absolute;
}

.input-group > label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hexshape {
  position: absolute;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.hexshape svg {
  flex-grow: 1;
}

.letter {
  margin-right: 0.5rem;
  color: var(--orange-100);

  font-size: 1.25rem;
  line-height: 1.45rem;
  font-weight: 600;
}

.label {
  font-size: 1.25rem;
  line-height: 1.45rem;
  font-weight: 400;
}

@media screen and (max-width: 1080px) {
  .grid {
    grid-template-columns: 20rem;
    row-gap: 0.5rem;

    justify-content: center;
  }

  .option {
    height: 3.5rem;
  }

  .label,
  .letter {
    font-size: 0.875rem;
    line-height: 1.015rem;
  }
}
