.bg {
  background-color: var(--black-5);
  height: 100%;
}

.container {
  display: flex;

  max-width: 90rem;
  margin: 0 auto;

  height: 100%;
}

.game {
  flex-grow: 1;

  padding-inline: 5rem;

  padding-top: 8.3125rem;
  padding-bottom: 7.625rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.325rem;

  max-width: 39rem;
}

.buttons {
  min-height: 4rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1080px) {
  .question {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.305rem;

    margin-bottom: 6.0625rem;

    padding-inline: 1rem;
  }

  .game {
    padding-top: 8.5rem;

    justify-content: initial;

    max-width: 39rem;

    padding-inline: 0;
  }

  .check {
    margin-inline: auto;
  }
}
