.bg {
  height: 100%;
  display: flex;

  background: linear-gradient(
    to bottom right,
    var(--white-100) 50%,
    var(--orange-5) 50%
  );

  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-inline: 5rem;
}

.hand {
  width: 39rem;
  height: 23rem;

  position: relative;
}

.heading {
  font-weight: 600;

  font-size: 3.5rem;
  line-height: 4rem;

  margin-bottom: 4rem;

  max-width: 39rem;
}

.start {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1080px) {
  .bg {
    flex-direction: column;
    gap: 1.5rem;

    padding-top: 5rem;

    padding-inline: 1rem;

    align-items: center;
    justify-content: initial;
  }

  .heading {
    text-align: center;

    font-size: 2rem;
    line-height: 2.3125rem;

    margin-bottom: 6.5rem;
  }

  .hand {
    width: 18rem;
    height: 12rem;
  }

  .start {
    align-items: center;
  }
}
