.button {
  width: 100%;
  max-width: 18.5rem;
  height: 4rem;

  border: 0;
  border-radius: var(--rounded-md);

  background-color: var(--orange-100);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.25rem 1.5rem;

  font-family: "Inter";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.45rem;
  color: var(--white-100);

  cursor: pointer;

  transition: background-color ease 0.5s;
}

.outline {
  background-color: var(--white-100);
  border: 2px solid var(--orange-100);
  color: var(--orange-100);
}

.button:hover {
  background-color: var(--orange-80);
}

.button:focus-visible {
  outline: none;
}

.button:active {
  background-color: var(--orange-120);
}

.outline:hover {
  background-color: var(--orange-5);
  color: var(--orange-100);
  border-color: var(--orange-80);
}

.outline:active {
  background-color: var(--orange-5);
  color: var(--orange-120);
  border-color: var(--orange-120);
}

@media screen and (max-width: 1080px) {
  .button {
    max-width: 18rem;
    height: 3rem;

    border-radius: var(--rounded-sm);

    font-size: 0.875rem;
    line-height: 1.015rem;
  }
}
